<h1>To Do List</h1>
<form action="/items" method="post">
  <label for="description">Item description:</label>
  <input id="new-item" name="description" type="text">
  <button type="submit">Submit</button>
</form>
